<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ subreddit_name }} Analytics</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
  </head>
  <body>

    <h1>Analytics for subreddit - r/{{ subreddit_name }}</h1>

    <!-- <h2>Number of Posts per Day</h2> -->
    <div id="posts-per-day-chart"></div>

    <!-- <h2>Number of Comments per Day</h2> -->
    <div id="comments-per-day-chart"></div>

    <!-- <h2>Average Number of Upvotes per Day</h2> -->
    <div id="upvotes-per-day-chart"></div>

    <script>
        var postsPerDay = {{ data.posts_per_day | tojson }};
        var commentsPerDay = {{ data.comments_per_day | tojson }};
        var upvotesPerDay = {{ data.average_upvotes_per_day | tojson }};

        console.log(postsPerDay);
        console.log(commentsPerDay);
        console.log(upvotesPerDay);

        Highcharts.chart('posts-per-day-chart', {
            title: {
                text: 'Number of Posts per Day'
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: {
                    day: '%e of %b'
                }
            },
            yAxis: {
                title: {
                    text: 'Number of Posts'
                }
            },
            series: [{
                name: 'Posts',
                // data: postsPerDay.map(row => [Date.parse(row.day), row.num_posts])
                data: Object.entries(postsPerDay).map(([day, numPosts]) => [Date.parse(day), numPosts])
            }]
        });

        Highcharts.chart('comments-per-day-chart', {
            title: {
                text: 'Number of Comments per Day'
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: {
                    day: '%e of %b'
                }
            },
            yAxis: {
                title: {
                    text: 'Number of Comments'
                }
            },
            series: [{
                name: 'Comments',
                // data: commentsPerDay.map(row => [Date.parse(row.day), row.num_comments])
                data: Object.entries(commentsPerDay).map(([day, num_comments]) => [Date.parse(day), num_comments])
            }]
        });

        Highcharts.chart('upvotes-per-day-chart', {
            title: {
                text: 'Average Number of Upvotes per Day'
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: {
                    day: '%e of %b'
                }
            },
            yAxis: {
                title: {
                    text: 'Average Number of Upvotes'
                }
            },
            series: [{
                name: 'Upvotes',
                // data: upvotesPerDay.map(row => [Date.parse(row.day), row.avg_upvotes])
                data: Object.entries(upvotesPerDay).map(([day, avg_upvotes]) => [Date.parse(day), avg_upvotes])
            }]
        });

    </script>
  </body>
</html>
